.start
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.list-view 
    width: 70%
    display: grid
    //max-width: 600px
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 10px
    margin: 0 auto

.pagination
  display: flex
  justify-content: center
  align-items: center
  width: 70%
  margin: 12px 0
